#aboutme {
  width: 100vw;
  height: calc(100vh - var(--nav__height));
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--nav__height);
  padding: 50px;
}

.home {
  width: 100vw;
  height: fit-content;
}
